/*Borders*/
nav {
	border: 1px solid black;
	font-family: "Lato";
	overflow: clear;
}
/*Font-family*/
@font-face {
	font-family: "Lato";
}
/*Brand*/
#nav-eva {
	color: white;
	font-family: "Lato";
	font-weight: 300;
}
#nav-lieu {
	color: pink;
	font-family: "Lato";
	font-weight: 300;
}
.brand {
	text-decoration: none;
	font-size: 32px;
	width: 250px;
	text-align: center;
	border: 1px solid red;
}
/*Navbar*/
nav {
	background: black;
	color: white;
}
.nav-padding {
	padding: 10px;
	display: inline-flex;
	border: 1px solid red;
	width: 100%;
}
ul {
	border: 1px solid red;
	width: 100%;
	float: right;

}
li {
	display: inline-block;
	padding: 10px 10px;
	font-size: 18px;
	float: right;
}

/*Main*/

/*Footer*/

/*Background*/

/*Media Queries*/

/*Desktop/Laptop*/
@media screen and (min-width: 1024px){
	body {
		background: red;
	}
}
/*iPads*/
@media screen and (min-width: 768px) and (max-width: 1024px){
	body {
		background: orange;
	}
}
/*Filler*/
@media screen and (min-width: 480px) and (max-width: 768px){
	body {
		background: yellow;
	}
}
/*Smart Phones*/
@media only screen and (max-device-width: 480px) {
	body {
		background: green;
	}
}